* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-logo {
    margin: 30px 0;
    height: 140px;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.pokemon {
    display: flex;
    padding: 0;
    margin: 0;
    transition: 0.2s;
    cursor: pointer;
}

.card-flip {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}


.card-flip:hover .pokemon-img {
    transform: scale(1.5);
}

.card:hover {
    transform: scale(1.1);
}

.pokemon-img {
    top: -10px;
    position: absolute;
    transition: 0.4s;
    width: 100px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.id {
    padding: 7px 14px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0;

}

.type {
    text-transform: capitalize;
    margin: 15px 0;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.404);
}


.card-flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.back {
    transform: rotateY(180deg);
}


@media screen and (min-width: 700px) {
    .pokemon {
        height: 260px;
        width: 180px;
        margin: 20px;
    }

    .container {
        max-width: 1440px;

    }

    .pokemon-img {
        top: 0;
        width: 130px;
    }

    .title {
        font-size: 16px;
    }

    .id {
        padding: 5px 10px;
    }

    .circle {
        height: 120px;
        width: 120px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 60px;
        margin-bottom: 15px;
    }

}